<div class="card my-5">
        <div class="card-body">
          <table class="steelBlueCols">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Dosage</th>
                <th scope="col">Side Effects</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medication of medications">
                <td>{{ medication.id }}</td>
                <td>{{ medication.name }}</td>
                <td>{{ medication.dosage }}</td>
                <td>{{ medication.sideEffects }}</td>
                <td><button class="btn btn-danger" (click)="deleteMedication(medication)">Delete</button>
                    <button class="btn btn-primary" (click)="updateMedication(medication)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" (click)="newMedication()">New Medication</button>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
      </div>