<div>

  <table class="steelBlueCols">
    <thead class="thead-dark">
    <tbody>
    <tr>
      <th>Medication</th>
      <th>Side Effects</th>
      <th>Taken</th>
    </tr>
    <tr>
      <td>Paracetamol</td>
      <td>none</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Nurofen</td>
      <td>none</td>
      <td>No</td>
    </tr>
    <tr>
      <td>Algocalmin</td>
      <td>none</td>
      <td>Yes</td>
    </tr>


    </tbody>
  </table>
</div>
