<p>doctor-list works!</p>
<div class="card my-5">
    <div class="card-body">
      <table class="steelBlueCols">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.nume }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>