<div class="card my-5">
    <div class="card-body">
      <table class="steelBlueCols">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Gender</th>
            <th scope="col">Adress</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let caregiver of caregivers">
            <td>{{ caregiver.id }}</td>
            <td>{{ caregiver.name }}</td>
            <td>{{ caregiver.birthDate }}</td>
            <td>{{ caregiver.gender }}</td>
            <td>{{ caregiver.address }}</td>
            <td><button class="btn btn-danger" (click)="deleteCaregiver(caregiver)">Delete</button>
                <button class="btn btn-primary" (click)="updateCaregiver(caregiver)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" (click)="newCaregiver()">New Caregiver</button>
    <button class="btn btn-primary" (click)="viewPatients()">View Patients</button>
    <button class="btn btn-primary" (click)="viewMedication()">View Medication</button>

  </div>
  